* {
    background-color: rgb(32, 32, 32);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.hometext {
    text-align: center;
}

a:link, .recipe {
    color: rgb(0, 0, 0);
    border: solid rgb(0, 185, 185);
    background-color: rgb(0, 185, 185);
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;

}

a:visited{
    color: rgb(0, 0, 0);
    border: solid rgb(0, 140, 140);
    background-color: rgb(0, 140, 140);
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}