* {
    background-color: rgb(32, 32, 32);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.hometext {
    text-align: center;
}

.recipe {
    color: rgb(0, 185, 185);
}